<div class="container">
  <mat-card>
    <div class="card-container">
      <div class="login-form">
        <mat-card-title>
          <h2>Login to your account</h2>
        </mat-card-title>
        <mat-card-subtitle>Don't have an account? <span>Register now.</span></mat-card-subtitle>
        <mat-card-content></mat-card-content>
      </div>
      <div class="login-img">
        <!-- <img src="https://image.freepik.com/free-photo/lonely-hiker_181624-361.jpg" alt="" height="50%"> -->
      </div>
    </div>
  </mat-card>
</div>