<mat-card>
  <mat-card-title>{{ formText.title }}</mat-card-title>
  <mat-card-subtitle>
    {{ formText.subtitle }} <span (click)="onActionClick()">{{ formText.subtitleAction }}</span>
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>{{ formText.submitText }}</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>