<mat-card class="word-card">
  <mat-card-content (click)="onCardClick()">
    <div class="word-container">
      <h2>{{ word.title }}</h2>
      <p *ngIf="showMeaning"> {{ word.description }} </p>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="showMeaning">
    <button mat-button (click)="onWordAction(false)">I didn't know this word</button>
    <button mat-button (click)="onWordAction(true)"> I knew this word</button>
  </mat-card-actions>
  <mat-card-footer>
    <p *ngIf="!showMeaning">Tap to see the meaning</p>
  </mat-card-footer>
</mat-card>